/* Empty. Add your own CSS if you like */

img {
	margin-top: 10%;
}

#content {
	text-align: center;
}

.forecast-day {
	display: inline-block;
	width: 20%;
	margin: 1% 1.5%;
	border: 1px solid lightgray;
	border-radius: 3px;
}